@model List<JsonArray>

@{
    bool hasShows = Model != null && Model.Count > 0;
}
@if (hasShows)
{
    <div class="row">
        @foreach (var model in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                @Html.Partial("~/Plugins/TPIPlugin/Views/_ShowCardDynamic.cshtml", model)
            </div>
        }
    </div>

}
else
{

    <div style="display: flex; justify-content: space-around; align-content: center; align-items: center; margin-top: 30px;">
        <p>No Results for found</p>
    </div>

}