
@{
    ViewBag.Title = "Manage FAQs";
    ViewBag.PageCaption = "Frequently Asked Questions";
}
<div class="wrapper wrapper-content animated fadeInRight" id="containerId">
    <div class="ibox float-e-margins py-3">
        <div class="ibox-title">
            <h5>Search a TV show</h5>
        </div>
        <div class="ibox-content">
          
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
         

        });
       
    </script>
}
